<!-- banner start -->
    <div class="services-cover">
      <p class="text-right company-name">Yarden<span class="badge">BETA</span></a><i class="fa fa-caret-down" aria-hidden="true" uib-popover-html="vm.options" popover-placement="bottom"></i>
      </p>
      <div class="text-center">
        <p class="sub-slogan"><b><u>The App</u></b></p>
      </div>
    </div>
    <!-- banner end -->

    <!-- app start -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-6">
            <h3><b>Gardeners at your fingertips</b></h3>
            <p>
              Yarden App is a platform like "Uber" for gardening and small farming. It connects you to a network of local professionals who plant, maintain, and harvest the garden you always wanted, but never had time for. You'll have access to a variety of cool features including harvest forecasting, weekly growth updates, and much more!
            </p>
          </div>
          <div class="col-xs-4">
            <div class="text-right">
              <img src="images/app.png" class="banner-img" />
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <!-- app end -->

    <!-- Yarden start -->
    <div class="yarden">
    <div class="text-center">
      <span id="plans"></span>
      <h1>Easy Plan Management</h1>
      <h2>We offer 2 simple plans which you can easily setup and activate online</h2>
    </div>
    <section>
      <div class="col-centered col-xs-12 yarden">
        <div class="pricing-tables attached ">
          <div class="row ">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <div class="plan  first">
                <div class="head">
                  <h2 style="color:#ffffff">Yarden Garden</h2>
                </div>
                <ul class="item-list">
                  <li>
                    <p>A beautiful, asthetically pleasing garden that is maintened for you from seed to harvest. Skip your trip to the market and enjoy delicious, organic produce straight from your own yard and track your crops growth through the app. It doesn't get more fresh than that!</p>
                  </li>
                </ul>
                <div class="price mediafix">
                  <p style="margin-top: 30px;">Service Description</p>
                  <ul>
                    <li>
                        <p> - Garden Design</p>
                    </li>
                    <li>
                        <p> - System Installation</p>
                    </li>
                    <li>
                        <p> - Weekly Maintenance</p>
                    </li>
                    <li>
                        <p> - Harvesting</p>
                    </li>
                  </ul>
                  <span>
                    * Ideal for people who spend over $100 a month on fruits and vegetables
                  </span>
                </div>
                <a class="btn-clean btn-pad" ui-sref="Home({tag: 'signup'})">Signup (beta)<i class="ion-ios-unlocked-outline"></i></a>
              </div>
              </div>
              <div class="col-xs-4">
                <div class="plan last">
                  <div class="head value">
                    <h2 style="color:#ffffff">Agri-Space</h2>
                  </div>
                  <ul class="item-list">
                    <li>
                      Think of it like an Airbnb for your yard. You're the host, and Yarden is your guest planting crops on an specific portion of your property and in return you receive 50% of the proceeds from the sale of the crop. American's spend less than 1% of their time in their yard, let's put that empty potential to use.
                    </li>
                  </ul>
                  <div class="price">
                    <p style="margin-top: 30px;">Service Description</p>
                    <ul>
                      <li>
                          - Crop Selection
                      </li>
                      <li>
                          - Crop Planting
                      </li>
                      <li>
                          - Weekly Maintenance
                      </li>
                      <li>
                          - Harvest and Sale
                      </li>
                    </ul>
                    <span>
                      * Ideal for people who have extra yard space and want to make some extra cheese
                    </span>
                  </div>
                  <a class="btn-clean btn-pad" ui-sref="Home({tag: 'signup'})">Signup (beta) <i class="ion-ios-unlocked-outline"></i></a>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
        </div>
        <br>
      </section>
    </div>
      <!-- Yarden end -->

    <!-- questions start-->
    <div class="questions">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h1>Questions?</h1>
              <div class="text-center">
                <img src="images/email.png" />
              </div>
              <h2>Just shoot us an email at <a href="mailto:info@yarden.garden">info@yarden.garden</a> and we'll get back to you ASAP!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- questions end-->

    <!-- footer start-->
    <div class="container">
      <hr>
      <div class="text-center center-block">
        <a href="https://www.facebook.com/YardenMyGarden" target="_blank">
          <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        </a>
        <a href="https://twitter.com/YardenMyGarden" target="_blank">
          <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        </a>
        <a href="https://plus.google.com/100292823495128676685" target="_blank">
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        </a>
        <a href="mailto:info@yarden.garden">
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        </a>
      </div>
      <div class="text-center">
        <p class="copyright">&copy Yarden 2016 | <span class="footer-link" ui-sref="Home">Home</span> | <span class="footer-link" ui-sref="Careers({tag: 'info'})">Careers</span></p>
      </div>
      <hr>
    </div>
    <!-- footer end -->
