  <!-- banner start (mobile)-->
  <div class="services-cover-mobile visible-xs">
    <div class="dropdown">
      <i class="fa fa-bars fa-lg hamburger" aria-hidden="true" ng-click="vm.drop()"></i>
      <div class="dropdown-content" id="menu">
        <p style="border-bottom: 1px solid #CCCCCC; padding-bottom: 10px;" ui-sref="Home()">Home</p>
        <p ui-sref="App({tag: 'v1'})">App</p>
      </div>
    </div>
    <p class="text-center page-title-mobile">
      Careers
    </p>
  </div>
  <!-- banner end -->

  <!-- banner start (desktop) -->
    <div class="careers-cover hidden-xs">
      <p class="text-right company-name" style="color:#FFFFFF">Yarden<span class="badge">BETA</span></a><i class="fa fa-caret-down" aria-hidden="true" uib-popover-html="vm.options" popover-placement="bottom"></i>
      </p>
      <div class="text-center">
        <p class="sub-slogan"><b><u>Be a Yardener</u></b></p>
      </div>
    </div>
    <!-- banner end -->

    <!-- app start (desktop)-->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-0 col-sm-1"></div>
          <div class="col-xs-12 col-sm-6">
            <span id="apply"></span>
            <h3><b>What is Yarden?</b></h3>
            <p>
              Yarden is an app that connects gardeners with people who have gardens and request service through our app, and customers pay automatically through the app.
              <br>
              <br>
              Whether you are saving for a vacation, catching up on some bills, or funding your dreams, Yarden will help you get there. So, be a Yardener. Be your own boss.
            </p>
            <h3><b>How you can earn</b></h3>
            <p> - Basic gardening tasks (pruning, watering, etc)</p>
            <p> - Customer tips</p>
          </div>
          <div class="col-sm-4 hidden-xs">
            <div>
              <form>
                <h3>Apply Now!</h3>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.name"
                    type="text"
                    placeholder="Full Name"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.email"
                    type="email"
                    placeholder="Email"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.phone"
                    type="text"
                    placeholder="Phone"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.address"
                    type="text"
                    placeholder="Street Address"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.cityStateZip"
                    type="text"
                    placeholder="City/State/Zip"
                    class="form-control" />
                </div>
                <button
                  ng-click="vm.submit()"
                  ng-disabled="!vm.application.name || !vm.application.email || !vm.application.phone || !vm.application.address || !vm.application.cityStateZip"
                  type="submit"
                  class="btn btn-lg btn-default"
                  style="width: 100%;">Submit
                </button>
              </form>
            </div>
          </div>
          <div class="col-xs-0 col-sm-1"></div>
        </div>
      </div>
    </div>
    <!-- app end -->

    <!-- how it works start -->
    <div class="yardener hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <img src="images/left-arrow.png" class="yardener-hdr" ng-click="vm.slideLeft()" style="cursor: pointer"/>
          </div>
          <div class="col-xs-3 text-right">
            <img src="images/hand-and-phone.png" style="display: inline" id="step1Img" />
            <img src="images/list.png" style="display: inline" class="hide" id="step2Img" />
            <img src="images/route.png" style="display: inline" class="hide" id="step3Img" />
            <img src="images/watering-a-plant.png" style="display: inline" class="hide" id="step4Img" />
            <img src="images/make-money.png" style="display: inline" class="hide" id="step5Img" />
          </div>
          <div class="col-xs-7">
            <h2 class="yardener-hdr"><b>What it's like to work with Yarden</b></h2>
            <p id="step1Txt">Open the app and tap "New Tasks"</p>
            <p id="step2Txt" class="hide">Select and accept a task from the list</p>
            <p id="step3Txt" class="hide">Drive to garden location on scheduled date/time</p>
            <p id="step4Txt" class="hide">Complete the given task per app instructions</p>
            <p id="step5Txt" class="hide">Recieve a mobile payment for the work completed!</p>
          </div>
          <div class="col-xs-1">
            <img src="images/right-arrow.png" class="yardener-hdr" ng-click="vm.slideRight()" style="cursor: pointer" />
          </div>
        </div>
      </div>
    </div>
    <!-- how it works end -->

    <!-- requirements start -->
    <div class="requirements text-center">
      <div class="container">
        <div class="text-center">
          <h1 style="margin-bottom: 0px;">General Requirements</h1>
          <p style="margin-bottom: 50px;">
            It's easy to apply to be a Yardener. All you need is:
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img src="images/car.png" />
            <p style="margin-top: 15px;">
              VEHICLE
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="images/smartphone.png" />
            <p style="margin-top: 15px;">
              SMARTPHONE
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="images/toolbox.png" />
            <p style="margin-top: 15px;">
              HAND TROWEL, PRUNER
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- requirements end -->

    <!-- app start (mobile)-->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 visible-xs">
            <div>
              <form>
                <h3>Apply Now!</h3>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.name"
                    type="text"
                    placeholder="Full Name"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.email"
                    type="email"
                    placeholder="Email"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.phone"
                    type="text"
                    placeholder="Phone"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.address"
                    type="text"
                    placeholder="Street Address"
                    class="form-control" />
                </div>
                <div class="form-group form-group-lg">
                  <input
                    ng-model="vm.application.cityStateZip"
                    type="text"
                    placeholder="City/State/Zip"
                    class="form-control" />
                </div>
                <button
                  ng-click="vm.submit()"
                  ng-disabled="!vm.application.name || !vm.application.email || !vm.application.phone || !vm.application.address || !vm.application.cityStateZip"
                  type="submit"
                  class="btn btn-lg btn-default"
                  style="width: 100%;">Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- app end -->

    <!-- get started start -->
    <div class="get-started text-center hidden-xs">
      <div class="container">
        <div class="text-center">
          <h1 style="margin-bottom: 15px;" class="animated infinite bounce">Get Started!</h1>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <input class="btn btn-default btn-lg" value="APPLY" href="#apply" du-smooth-scroll />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- get started  end -->

    <!-- footer start-->
    <div class="container">
      <hr>
      <div class="text-center center-block">
        <a href="https://www.facebook.com/YardenMyGarden" target="_blank">
          <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        </a>
        <a href="https://twitter.com/YardenMyGarden" target="_blank">
          <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        </a>
        <a href="https://plus.google.com/100292823495128676685" target="_blank">
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        </a>
        <a href="mailto:info@yarden.garden">
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        </a>
      </div>
      <div class="text-center">
        <p class="copyright">&copy Yarden 2016 | <span class="footer-link" ui-sref="App({tag: 'v1'})">App</span> | <span class="footer-link" ui-sref="Home">Home</span></p>
      </div>
      <hr>
    </div>
    <!-- footer end -->
