<!-- banner start -->
    <div class="careers-cover">
      <p class="text-right company-name" style="color:#FFFFFF">Yarden<span class="badge">BETA</span></a><i class="fa fa-caret-down" aria-hidden="true" data-toggle="popover" data-content="<a href='index.html'>Home</a> <br> <a href='app.html'>App</a>" data-placement="bottom"></i>
      </p>
      <div class="text-center">
        <p class="sub-slogan"><b><u>Be a Yardener</u></b></p>
      </div>
    </div>
    <!-- banner end -->

    <!-- app start -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-6">
            <h3><b>What is Yarden?</b></h3>
            <p>
              Yarden is an app that connects gardeners with people who have gardens and request service through our app, and customers pay automatically through the app.
              <br>
              <br>

              Whether you are saving for a vacation, catching up on some bills, or funding your dreams, Yarden will help you get there. So, be a Yardener. Be your own boss.
            </p>
            <h3><b>How you earn</b></h3>
            <p> - Basic gardening (pruning, watering, etc)</p>
            <p> - Customer tips</p>
            <h3><b>Join our awesome Yarden community</b></h3>
            <h3><b>How it works</b></h3>
            <p></p>

          </div>
          <div class="col-xs-4">
            <div class="text-right">
              <img src="images/people.png" class="banner-img" />
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <!-- app end -->

    <!-- requirements start -->
    <div class="requirements text-center">
      <div class="container">
        <div class="text-center">
          <h1 style="margin-bottom: 0px;">General Requirements</h1>
          <p style="margin-bottom: 50px;">
            It's easy to apply to be a Yardener. All you need is:
          </p>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img src="images/car.png" />
            <p style="margin-top: 15px;">
              VEHICLE
            </p>
          </div>
          <div class="col-xs-4">
            <img src="images/smartphone.png" />
            <p style="margin-top: 15px;">
              SMARTPHONE
            </p>
          </div>
          <div class="col-xs-4">
            <img src="images/toolbox.png" />
            <p style="margin-top: 15px;">
              HAND TROWEL, PRUNER
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- requirements end -->

    <!-- apply start -->
    <div class="apply">
      <div class="container">
        <div class="text-center">
          <h1>Be Your Own Boss. Become a Yardener</h1>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <form>
              <p>Please fill out all required fields</p>
              <div class="form-group form-group-lg">
                <input type="text" placeholder="Full Name" class="form-control"/>
              </div>
              <div class="form-group form-group-lg">
                <input type="text" placeholder="Email" class="form-control"/>
              </div>
              <div class="form-group form-group-lg">
                <input type="text" placeholder="Phone" class="form-control"/>
              </div>
              <div class="form-group form-group-lg">
                <input type="text" placeholder="Street Address" class="form-control"/>
              </div>
              <div class="form-group form-group-lg">
                <input type="text" placeholder="City/State/Zip" class="form-control"/>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I am at least 18 years old
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I am eligible to work in the United States
                </label>
              </div>
              <button type="submit" class="btn btn-lg btn-default">Submit</button>
            </form>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
    <!-- apply end -->

    <!-- footer start-->
    <div class="container">
      <hr>
        <div class="text-center center-block">
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <div class="text-center">
          <p class="copyright">&copy Yarden 2016 | <span class="footer-link">App</span> | <span class="footer-link">Home</span></p>
        </div>
      <hr>
    </div>
    <!-- footer end -->
