
<!-- banner start -->
    <div class="cover">
      <p class="text-right company-name">Yarden<span class="badge">BETA</span></a><i class="fa fa-caret-down" aria-hidden="true" data-toggle="popover" data-content="<a href='#'>About</a> <br> <a href='careers.html'>Careers</a>" data-placement="bottom"></i>
      </p>
      <div class="text-center">
        <p class="company-slogan"><b>Turn your <span style="color: #ee1515">yard</span> into a <span style="color: #ee1515" class="element"></span></b></p>
        <a class="flat-butt" href="#services">LEARN MORE</a>
      </div>
    </div>
    <!-- banner end -->

    <!-- what start -->
    <div id="services"></div>
    <div class="what">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h1>What is Yarden?</h1>
            </div>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
              <img src="images/gardening.png"/>
              <p style="color:#FFF">
                1. We plant.
              </p>
            </div>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
               <img src="images/harvest.png" />
               <p style="color:#FFF">
                 2. We harvest.
               </p>
            </div>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
              <img src="images/money.png" />
              <p style="color:#FFF">
                3. You earn.
              </p>
            </div>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-12 divider">
            <div class="well">
              <h2 class="text-center">
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
              </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- what end -->

    <!-- how start -->
    <div class="how">
      <div class="container">
        <div class="text-center">
          <h1>How it works</h1>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/placeholder.png" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-5">
            <h3><b>Lorem Ipsum</b></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="how">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <h3><b>Lorem Ipsum</b></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/placeholder.png" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="how">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/placeholder.png" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-5">
            <h3><b>Lorem Ipsum</b></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <!-- how start -->

    <!-- why start -->
    <div class="why">
      <div class="container">
        <div class="text-center">
          <h1>Our mission</h1>
        </div>
        <div class="row">
          <div class="col-xs-7">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul>
              <li><p>lorem ipsum</p></li>
              <li><p>lorem ipsum</p></li>
              <li><p>lorem ipsum</p></li>
              <li><p>lorem ipsum</p></li>
            </ul>
          </div>
          <div class="col-xs-5">
            <img src="images/placeholder.png" class="placeholder-img"/>
          </div>
        </div>
      </div>
    </div>
    <!-- why start -->

    <!-- when start -->
    <div class="when">
      <div class="container">
        <div class="text-center">
          <h1>Coming soon...</h1>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <h2 class="text-center"><b>Yarden</b> is still under development and is scheduled to be launched by 1/1/17. Get early beta access by submitting your email below and we will notify you when it is available!</h2>
            <div class="email-input">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Email Address.." />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Submit</button>
                </span>
              </div>
            </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
    <!-- when end -->

    <!-- footer start-->
    <div class="container">
      <hr>
        <div class="text-center center-block">
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <div class="text-center">
          <p class="copyright">&copy Yarden 2016 | <span class="footer-link">About</span> | <span class="footer-link">Careers</span></p>
        </div>
      <hr>
    </div>
    <!-- footer end -->
