
  <!-- banner start -->
    <!-- <div class="cover">
      <p class="text-right company-name">Yarden<span class="badge">BETA</span></a><i class="fa fa-caret-down" aria-hidden="true" uib-popover-html="vm.options" popover-placement="bottom"></i>
      </p>
      <div class="text-center">
        <p class="company-slogan"><b>Turn your <span style="color: #ee1515">yard</span> into a
          <typed style="color:#000000" type-strings="['garden^3000', 'micro-farm^3000', 'money-maker^3000', 'garden^3000', 'micro-farm^3000', 'money-maker^3000']" start-timeout="500" type-speed="20" back-speed="20" loop="true" ng-cloak></typed><br>
        <a class="flat-butt" href="#services" du-smooth-scroll>LEARN MORE</a>
      </div>
    </div> -->
    <!-- banner end -->

    <!-- facts start -->
    <span id="services"></span>
    <div class="facts">
      <div class="container">
        <div class="text-center">
          <h1>Did You Know?</h1>
        </div>
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <img src="images/us.png" style="width:100%; margin-bottom: 30px;" />
          </div>
          <div class="col-xs-4"></div>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8 text-center">
            <p id="index1" class="hide">Residentials lawns are the largest irrigated crop in the country</p>
            <p id="index2" class="hide">America lawns take up 3X as much space as irrigated corn.</p>
            <p id="index3" class="hide">American's use 9 billion gallons of water per day to water their lawns.</p>
            <p id="index4" class="hide">The average american spends around 70 hours per year on lawn/garden care.</p>
            <p id="index5" class="hide">There are over 30 thousand tons of synthetic pestisides used on lawns annually.</p>
            <p id="index6" class="hide">41% of pesticides include ingredients that are banned or restricted in other countries.</p>
            <p id="index7" class="hide">800 million gallons of gasoline are burned while caring for lawns</p>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
    <!-- facts end -->

    <!-- what start -->
    <div id="services"></div>
    <div class="what">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h1>What is Yarden?</h1>
            </div>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
              <img src="images/gardening.png"/>
              <p style="color:#FFF">
                1. We plant.
              </p>
            </div>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
               <img src="images/harvest.png" />
               <p style="color:#FFF">
                 2. We harvest.
               </p>
            </div>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <div class="text-center steps">
              <img src="images/money.png" />
              <p style="color:#FFF">
                3. You earn.
              </p>
            </div>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-12 divider">
            <div class="well">
              <h2 class="text-center">
                "It's simple. We turn your yard into a garden. After installing a beautiful 'Yarden', our qualified Yardeners will maintain it for you. At harvest, you can either keep your fresh, organic produce or trade it in for some extra cash."
              </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- what end -->

    <!-- how start -->
    <div class="how">
      <div class="container">
        <div class="text-center">
          <h1>How it works</h1>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/assesment.jpg" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-5">
            <h3><b>Complete Assesment</b></h3>
            <p>
              On the initial visit to your home, our Yardners will come out to your residence and check out the condition of your yard, test the soil, and measure the square footage. In addition, they'll asess for seasonality and match the produce that best fits the climate.
            </p>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="how">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <h3><b>Select Your Garden</b></h3>
            <p>
              Most people want to garden. The challenge can be maintaing one. We give you two options: a Yarden or a Agri-space. With a <a ui-sref="App({tag: 'plans'})">Yarden Garden</a> we'll maintain, harvest, and deliver your produce to you. If you don't eat much produce but want to earn some extra dough, you can opt for an <a ui-sref="App({tag: 'plans'})">Agri-space</a> and we'll select a crop to be planted, harvested, & sold on the market while you sit back and collect a check.
            </p>
          </div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/selection.jpg" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="how">
      <div class="container">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-5">
            <div class="text-center">
              <img src="images/app.jpg" class="placeholder-img"/>
            </div>
          </div>
          <div class="col-xs-5">
            <h3><b>Keep Updated With The Yarden App</b></h3>
            <p>
              Leverage Yarden's real-time app notifications to keep up-to-date with your garden's maintenance calendar, health, and harvest cycles. Connect through our community forum and meet other Yardeneers in your community. Watch your crops grow and track the progress on your phone.
            </p>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <!-- how start -->

    <!-- why start -->
    <div class="why">
      <div class="container">
        <div class="text-center">
          <h1>Our mission</h1>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>
              Yarden is about focusing on a global initiative, but taking a local approach. We combine the modern technology with smart, passoinate, service. We believe through small community gardens and micro-farms we can decrease hunger, reduce pesticide usage, and encourage healthy organic eating.
            </p>
            <div class="text-center" style="padding-top: 10px;">
              <p><b>Yarden Believes In...</b></p>
            </div>
            <table class="table">
              <tr>
                <td>
                  <p>
                    - Equal employment
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    - Promotion of tech in agriculture
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    - Empowering local business's
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    - Unifying communities
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-6">
            <div class="text-center">
              <img src="images/earth.png" class="placeholder-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- why start -->

    <!-- when start -->
    <div class="when">
      <div class="container">
        <div class="text-center">
          <span id="signup"></span>
          <h1>Coming soon...</h1>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <h2 class="text-center"><b>Yarden</b> is still under development and is scheduled to be launched January 2017. Get early beta access by submitting your email below and we will notify you when it is available!</h2>
            <div class="email-input">
              <div class="input-group input-group-lg">
                <input
                  ng-model="vm.email"
                  type="email"
                  class="form-control"
                  placeholder="Email Address.." />
                <span class="input-group-btn">
                  <button
                    ng-click="vm.submit()"
                    ng-disabled="!vm.email"
                    class="btn btn-default"
                    type="button">Submit</button>
                </span>
              </div>
            </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
    <!-- when end -->

    <!-- footer start-->
    <div class="container">
      <hr>
        <div class="text-center center-block">
          <a href="https://www.facebook.com/YardenMyGarden" target="_blank">
            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
          </a>
	        <a href="https://twitter.com/YardenMyGarden" target="_blank">
            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
          </a>
	        <a href="https://plus.google.com/100292823495128676685" target="_blank">
            <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
          </a>
	        <a href="mailto:info@yarden.garden">
            <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
          </a>
        </div>
        <div class="text-center">
          <p class="copyright">&copy Yarden 2016 | <span class="footer-link" ui-sref="App({tag: 'v1'})">App</span> | <span class="footer-link" ui-sref="Careers({tag: 'info'})">Careers</span></p>
        </div>
      <hr>
    </div>
    <!-- footer end -->
