/* global */
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

button {
  width: 200px;
}

h2 {
  color: #807C80;
}

form {
  border: 1px solid #EEEEEE;
  padding: 40px 30px 30px 30px;
}

a {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/* home */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 100px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.divider {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .divider {
      margin-top: 0px;
    }
}

.space {
  margin-top: 20px;
}

.cover {
  background-image: url('/images/cover.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.cover-mobile {
  background-color: #80c157;
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.hamburger {
  color: #FFFFFF;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
}

.company-name {
  font-size: 60px;
  margin-top: 100px;
  padding-right: 40px;
  display: inline;
}

.company-name-mobile{
  font-size: 60px;
  padding-top: 75px;
  color: #FFFFFF;
}

.select-arrow {
  padding-right: 23px;
}

.fa-caret-down {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.company-slogan {
  font-size: 60px;
}

.company-slogan-mobile {
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 20px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 2px solid #ffffff;
  background: none;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-butt:hover {
  background-color: #FFF;
  color: #666666;
}

.facts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.facts-mobile {
  min-height: 60vh;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
}
.what {
  background-color: #EEEEEE;
  padding-top: 50px;
  padding-bottom: 30px;
}

.steps {
  background-color: #80c157;
  border-radius: 50%;
	width: 200px;
	height: 200px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.how {
  padding-bottom: 10px;
}

.how, p {
  font-size: 20px;
}

.how, h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.placeholder-img {
  width: 75%;
}

@media only screen and (max-width: 768px) {
    .placeholder-img {
      width: 100%;
    }
}

.why {
  background-color: #7f5834;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .mission-desc {
      padding-top: 20px;
    }
}

.fa-plus {
  padding-left: 25px;
  padding-right: 25px;
  color: #666666;
}

.when {
  padding-top: 50px;
  padding-bottom: 30px;
}

.email-input {
  margin-top: 30px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 #social-fb {
     color: #80c157;
 }

 #social-tw {
     color: #80c157;
 }

 #social-gp {
     color: #80c157;
 }

 #social-li {
     color: #80c157;
 }

 #social-tm {
     color: #80c157;
 }

 #social-pi {
     color: #80c157;
 }

 #social-em {
     color: #80c157;
 }

 #social-fb:hover {
     color: #3B5998;
 }

 #social-tw:hover {
     color: #4099FF;
 }

 #social-gp:hover {
     color: #d34836;
 }

 #social-li:hover {
     color: #1b86bc;
 }

 #social-tm:hover {
     color: #36465D;
 }

 #social-pi:hover {
     color: #d34836;
 }

 #social-em:hover {
     color: #f39c12;
 }

 .copyright {
   font-size: 20px;
 }

 .footer-link {
   color: #000000;
 }

.footer-link:hover {
  color: #55ACEE;
  cursor: pointer;
}

/* app */

.services-cover {
  background-image: url('/images/services-cover.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 60vh;
}

.services-cover-mobile {
  background-color: #80c157;
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 40vh;
}

.page-title-mobile {
  font-size: 60px;
  padding-top: 35px;
  color: #FFFFFF;
}

.sub-slogan {
  padding-top: 100px;
  font-size: 70px;
  color: #ffffff;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner-img{
  padding-top: 20px;
}

.divide {
  height: 2px;
  background-color: #EEEEEE;
  width: 100%;
  margin-top: 75px;
}

.yarden {
  padding-top: 30px;
  background-color: #EEEEEE
}

.questions {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* pricing table */
.pricing-tables {
  padding: 20px;
}

.pricing-tables h1 {
  font-size: 48px;
}

.pricing-tables .plan.first {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px !important;
}

.pricing-tables .plan.last {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pricing-tables .plan.recommended {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pricing-tables .plan.recommended .head {
  /*margin-bottom: 20px;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pricing-tables.attached .col-sm-4, .pricing-tables.attached .col-md-4, .pricing-tables.attached .col-sm-3, .pricing-tables.attached .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.pricing-tables.attached .plan {
  border-radius: 0;
}

.pricing-tables.attached .plan .head {
  border-radius: 0;
}

.pricing-tables.attached .plan.last {
  border-bottom-right-radius: 4px;
}

.pricing-tables.attached .plan.last .head {
  border-top-right-radius: 4px;
}

.pricing-tables.attached .plan.first {
  border-bottom-left-radius: 4px;
}

.pricing-tables.attached .plan.first .head {
  border-top-left-radius: 4px;
}

.plan {
  box-shadow: 0 1px 1px rgba(10, 10, 10, .25) !important;
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center;
}

.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 16px;
  background: #80c157;
  color: #fff !important;
}

.plan .head h1, .plan .head h2, .plan .head h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

.plan .price {
  border-top: 1px solid #eee;
  margin: 0 auto 30px auto;
  width: 80%;
}

.plan .btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px;
}

.plan ul li {
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

.plan ul li a {
  text-decoration: underline;
  color: #e6e9ed;
}

.plan ul li:last-child {
  border-bottom: none;
}

.plan ul strong {
  font-weight: 700;
}

.plan.recommended {
  margin-top: 6px;
  box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
  position: relative;
  z-index: 99;
  border-radius: 4px;
}

.plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #4e9a06;
}

.head.value{
  background-color: #80c157;
}

.plan.recommended .btn {
  margin-bottom: 10px;
}

@media screen and (min-width:770px) and (max-width:990px){
  .plan .mediafix h3 {
      font-size: 55px !important;
      vertical-align: top;
      line-height: 1;
  }
}

.plan-table {
  margin-top: 25px;
}

/* careers */

.careers-cover {
  background-image: url('/images/careers-cover.png');
  background-size: cover;
	background-repeat: no-repeat;
  min-height: 60vh;
}

.apply {
  border-top: 1px solid #CCCCCC;
  padding-top: 30px;
  padding-bottom: 30px;
}

.requirements {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .requirements {
      padding-top: 0px;
      padding-bottom: 0px;
      border-top: 1px solid #EEEEEE;
    }
}

.yardener {
  background-color: #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.yardener-hdr {
  padding-top: 75px;
}

.get-started {
  border-top: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}
