body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

button {
  width: 200px;
}

h2 {
  color: #807C80;
}

.divider {
  margin-top: 50px;
}

.cover {
  background-image: url('/images/cover.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.company-name {
  font-size: 60px;
  padding-top: 10px;
  padding-right: 40px;
}

.fa-caret-down {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.company-slogan {
  font-size: 60px;
  color: #ffffff;
  margin-top: 200px;
}

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 2px solid #ffffff;
  background: none;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-butt:hover {
  background-color: #FFF;
  color: #666666;
}

.what {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 30px;
}

.steps {
  background-color: #80c157;
  border-radius: 50%;
	width: 200px;
	height: 200px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.how {
  padding-bottom: 10px;
}

.how, p {
  font-size: 20px;
}

.how, h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.placeholder-img {
  width: 75%;
}

.why {
  background-color: #5b3f25;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fa-plus {
  padding-left: 25px;
  padding-right: 25px;
  color: #666666;
}

.when {
  padding-top: 50px;
  padding-bottom: 30px;
}

.email-input {
  margin-top: 30px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 #social-fb {
     color: #80c157;
 }

 #social-tw {
     color: #80c157;
 }

 #social-gp {
     color: #80c157;
 }

 #social-em {
     color: #80c157;
 }

 #social-fb:hover {
     color: #3B5998;
 }

 #social-tw:hover {
     color: #4099FF;
 }

 #social-gp:hover {
     color: #d34836;
 }

 #social-em:hover {
     color: #f39c12;
 }

 .copyright {
   font-size: 20px;
 }

.footer-link:hover {
  color: #55ACEE;
  cursor: pointer;
}

.services-cover {
  background-image: url('/images/services-cover.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	min-height: 55vh;
  border-bottom: 50px solid #EEEEEE;
}

.services-slogan {
  font-size: 80px;
  color: #ffffff;
}

.app {
  padding-top: 50px;
  padding-left: 50px;
}

.app-img {
  border-radius: 50%;
  border: 10px solid #80c157;
  padding: 10px 10px 10px 10px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
